<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
  <link rel="shortcut icon" href={{ url_for('static', filename='img/favicon.ico') }}/>
  <title>Teste</title>
</head>
<body>

  <div class="container-fluid">
    <div class="row" style="background: #550077; color: white">
      <div class="col-sm" style="text-align: center">
        Testando...
      </div>
      <div class="col-sm" style="text-align: center">
        Wesley chato :)
      </div>
      <div class="col-sm" style="text-align: center">
        Testando o development....
      </div>
    </div>
  </div>

  <script src={{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}></script>
  <script src={{ url_for('static', filename='js/popper.min.js') }}></script>
  <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>