<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
  <link rel="shortcut icon" href={{ url_for('static', filename='img/favicon.ico') }}/>
  <title>Teste</title>
</head>
<body>

  <h1>Oops! Não encontrei esta página :(</h1>

  <script src={{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}></script>
  <script src={{ url_for('static', filename='js/popper.min.js') }}></script>
  <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>